# This file exists mostly for readthedocs.io. The requirements for
# this package are recorded as part of setup.cfg.  Do not rely on this
# requirements.txt file as a source of truth for dependency
# information. It could be out of date.

sphinx
